@charset "UTF-8";

body {
    background-color: #151515;
    font: normal 15pt Arial;
    color: white;
}

header {
    text-align: center;
}

header h1 {
    color: #FF0043;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

div {
    text-align: left;
    padding: 8px;
}

div div.dados {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

div p {
    text-align: right;
    margin-right: 3rem;
}

div p input {
    max-width: 300px;
}

fieldset {
    max-width: 350px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.botao {
    color: #FF0043;
    background-color: #151515;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.233);
    transition: all 0.3s ease-in-out;

    display: block;
    margin: 0.8rem auto;
}
.botao:hover {
    cursor: pointer;
    color: #151515;
    background-color: #FF0043;
    border-color: #151515;
}

.escondido {
    display: none;
}

div#saida > #qtd-imoveis {
    text-align: left;
}

div#saida > p {
    text-align: left;
}

footer {
    text-align: center;
    font-style: italic;
}

footer >p > span {
    color: #787878;
}
