* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.logo-rock {
    width: 40px;
}

.logo-onebitcode {
    width: 200px;
}

.buttons {
    display: flex;
    gap: 1.15rem;
}

.buttonHeader {
    font-size: 1.25rem;
    padding: 0.6rem 0.9rem;
    background-color: transparent;
    cursor: pointer;
    transition: all ease-in-out 0.4s;

    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonHeader:hover {
    border-color: #ff0044;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 25px;
    }

    .buttons {
        flex-direction: column;
        text-align: center;
    }
}