@charset "UTF-8";

body {
    background-color: #151515;
    font: normal 15pt Arial;
    color: white;
}

header {
    text-align: center;
}

header h1 {
    color: #FF0043;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

div {
    text-align: left;
    padding: 8px;
}

div#entrada input {
    display: block;
    margin: 1rem auto;

    background-color: #151515;
    color: #FF0043;
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.219);
    font-weight: bold;
    margin-top: 0.4rem;
    height: 1.8rem;
    width: 80%;
    font-size: 1.3rem;
    text-align: center;
}

.botao {
    background-color: #FF0043;
    color: #151515;
    width: 20%;
    height: fit-content;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.233);
    transition: all 0.3s ease-in-out;

    display: block;
    margin: auto;
}
.botao:hover {
    cursor: pointer;
    background-color: #151515;
    color: #FF0043;
    border-color: #FF0043;
}

.sucesso {
    color: green;
    font-weight: bold;
}

.falha {
    color: red;
    font-weight: bold;
}

footer {
    text-align: center;
    font-style: italic;
}

footer >p > span {
    color: #787878;
}
