@charset "UTF-8";

:root {
    --fonte-icone: 4rem;
}

body {
    background-color: #151515;
    font: normal 15pt Arial;
    color: white;
}

header {
    text-align: center;
}

header h1 {
    color: #FF0043;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}
h3 {
    font-size: 1.25rem;
    text-align: center;
}

div {
    text-align: left;
    padding: 8px;
}

div span.dados {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 1rem 0;
    margin-right: 4rem;
    gap: 1rem;
}

div span.dados input {
    max-width: 300px;
}

.botao {
    color: #151515;
    width: 5rem;
    height: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.233);
    transition: all 0.3s ease-in-out;

    display: inline-block;
    margin: 0.8rem auto;
    text-align: center;
}
/* Pra espaçar todos os botões, mas não adicionar espaço à direita do último: */
.botao:not(.botao:last-of-type) {
    margin-right: 0.51rem;
}
.botao:first-of-type {
    background-color: #FC9F5B;
}
.botao:nth-of-type(2) {
    background-color: #D972FF;
}
.botao:nth-of-type(3) {
    background-color: #eaebea;
}
.botao:nth-of-type(4) {
    background-color: #A2D729;
}
.botao:last-of-type {
    background-color: #FA824C;
}

.botao:hover {
    cursor: pointer;
    color: #151515;
    border-color: #151515;
}

.botao > img.figura {
    max-width: 3rem;
    margin-top: 0.4rem;
}

section > .botao {
    background-color: #151515!important;
    color: #FF0043;
    display: block;
    width: fit-content;
    height: 3rem;
    margin: auto;
}
section > .botao:hover {
    background-color: #FF0043!important;
    color: #151515;
}

#triangulo, #retangulo, #quadrado, #trapezio, #circulo {
    border: solid 1px #151515;
    border-radius: 15px;
    padding: 1.5rem;
}

.escondido {
    display: none;
}

footer {
    text-align: center;
    font-style: italic;
}

footer >p > span {
    color: #787878cb;
}

div#creditos {
    background-color: #787878;
    padding: 1rem;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}
div#creditos > a {
    display: block;
    margin: auto;
    max-width: fit-content;
    color:rgb(240, 243, 78);
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
div#creditos > a:hover {
    border-bottom: 1px solid;
}
