@charset "UTF-8";

body {
    background-color: #151515;
    font: normal 15pt Arial;
    color: white;
}

header {
    text-align: center;
}

header h1 {
    color: #FF0043;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

div {
    text-align: left;
    padding: 8px;
}

div div.dados {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

div p {
    text-align: right;
    margin-right: 3rem;
}

div p input {
    max-width: 300px;
}

fieldset {
    max-width: 350px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.botao {
    color: #151515;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.233);
    transition: all 0.3s ease-in-out;

    display: block;
    margin: 0.8rem auto;
}
.botao:hover {
    cursor: pointer;
    color: #151515;
    background-color: #FF0043;
    border-color: #151515;
}
button#cadastrar {
    background-color: #82bcec;
}
button#cadastrar:hover {
    background-color: #89d4eb;
}
button#exibir {
    background-color: #D8973C;
}
button#exibir:hover {
    background-color: #f0cd9d;
}
button#salvar {
    background-color: #FFD400;
}
button#salvar:hover {
    background-color: #f1de7b;
}

#mensagem {
    font-size: 1rem;
    text-align: center;
    background-color: rgba(178, 229, 155, 0.658);
    color: rgb(5, 87, 5);
    padding: 0.5rem;
    border-radius: 15px;
}

.escondido {
    display: none;
}

div#saida > #qtd-imoveis {
    text-align: left;
}

div#saida > p {
    text-align: left;
}

/* Inserido via JS: */
caption { 
    background-color: #151515;
    color:white;
    width: 30rem;
    padding: 0.3rem;
    border-radius: 15px;
    font-weight: 700;
}


footer {
    text-align: center;
    font-style: italic;
}

footer >p > span {
    color: #787878;
}
