@charset "UTF-8";

body {
    background-color: #151515;
    font: normal 15pt Arial;
    color: white;
}

header {
    text-align: center;
}

header h1 {
    color: #FF0043;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

div {
    text-align: left;
    padding: 8px;
}

div span.dados {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

div span.dados input {
    max-width: 300px;
}

.escondido {
    display: none;
}

select#posicao > option:first-of-type {
    background-color: #c4c1c1;
    padding: 0.3rem;
}

footer {
    text-align: center;
    font-style: italic;
}

footer >p > span {
    color: #787878;
}
